.github
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
esbuild-meta.json
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/.vscode-test.*
**/.vscodeignore
**/.npmignore
**/*.vsix
**/*.tgz
resources/**
*.tgz
md-patch.js
check-package-files.js
file-snapshot.json
pack.cmd
README-NPM.md
README-NPM.patch.md
bak_README.md
_hint.txt
mac.txt
force_update_nb.bat

imgs/**
assets/**
!assets/run.ps1
!assets/styles.xml
!assets/template.dotm
dist/extension.js